.testimonial-switcher{
  background: #03273D;
  background: linear-gradient(129deg,rgba(3, 39, 61, 1) 0%, rgba(6, 10, 19, 1) 50%, rgba(3, 39, 61, 1) 100%);
}
.testimonial-switcher__wrapper {
  display: block;
}

.testimonial-switcher__card {
  position: relative;
  background: linear-gradient(129deg,rgba(5, 42, 66, 1) 0%, rgba(6, 10, 19, 1) 35%, rgba(3, 39, 61, 1) 70%);
  -webkit-border-radius: 0 20px 20px 0;
  border-radius: 0 20px 20px 0;
  overflow: hidden;
}
.testimonial-switcher__panels{
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.testimonial-switcher__panel {
  display: none;
  grid-template-columns: 1fr;
  gap: 3.2rem;
  align-items: center;
  padding-left: 40px;
}

.testimonial-switcher__panel.is-active {
  display: grid;
}



.testimonial-switcher__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.testimonial-switcher__logo {
  max-width: 16rem;
  margin-bottom: 2.4rem;
}

.testimonial-switcher__logo img {
  display: block;
  width: auto;
  height: 40px;
}

.testimonial-switcher__text {
  margin: 0 0 2.4rem;
  font-size: 1.7rem;
  line-height: 1.5;
}

.testimonial-switcher__rating {
  display: inline-flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  background-color: rgb(var(--color-background-secondary));
}

.testimonial-switcher__stars {
  display: flex;
  align-items: center;
}

.testimonial-switcher__stars .icon-star {
  font-size: 1.4rem;
  color: rgb(var(--color-accent));
}

.testimonial-switcher__rating-count {
  font-weight: var(--font-subtitle-weight);
}




.testimonial-switcher__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 4.4 / 3;
}

.testimonial-switcher__tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-top: 3.2rem;
}

.testimonial-switcher__tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.2rem;
  padding: 0 2rem;
  background: transparent;
  cursor: pointer;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#007cb7+0,06aaf7+26 */
  border: #174d6b 1px solid;
  border-radius: 5rem;
}

.testimonial-switcher__tab.is-active {
  border-color: transparent;
  background: linear-gradient(to right,  #007cb7 0%,#06aaf7 26%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.testimonial-switcher__tab-logo {
  display: block;
  max-height: 2rem;
}

.testimonial-switcher__tab-logo img {
  display: block;
  max-height: 1.8rem;
  width: auto;
}

.testimonial-switcher__tab-logo--on {
  display: none;
}

.testimonial-switcher__tab.is-active .testimonial-switcher__tab-logo--on {
  display: block;
}

.testimonial-switcher__tab.is-active .testimonial-switcher__tab-logo--off {
  display: none;
}

.testimonial-switcher__tab:not(.is-active) .testimonial-switcher__tab-logo--off {
  opacity: 0.5;
}



@media screen and (min-width: 750px) {
  .testimonial-switcher__panel {
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem;
  }
}

@media screen and (max-width: 749px) {
  .testimonial-switcher__media {
    order: -1;
  }
  .testimonial-switcher__panel{
    padding-left:0;
  }
  .testimonial-switcher__card{
    -webkit-border-radius:0;
    border-radius: 0;
  }
  .testimonial-switcher__image{
    -webkit-border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0 0;
  }
  .testimonial-switcher__logo img{
    width: auto;
    height: 30px;
  }
  .testimonial-switcher__content{
    padding: 0 20px 20px 20px;
  }
}